<!-- 이 파일이 mybatis의 mapper로 사용된다는 일종의 선언 (외우지 마세요) -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.springstudy.springmvc.chap04.mapper.ReplyMapper">

    <insert id="save">
        INSERT INTO tbl_rep;ly
            (reply_text, reply_writer, board_no)
        VALUES
            (#{replyText},#{replyWriter},#{boardNo})
    </insert>

</mapper>